@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Open+Sans:wght@400;600&family=Raleway:wght@300&family=Titillium+Web:wght@400;700&family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Montserrat:wght@500;600&family=Open+Sans:wght@400;600&family=Raleway:wght@300&family=Titillium+Web:wght@400;700&family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@300&family=Titillium+Web:wght@400;700&family=Uchen&display=swap');

.container-home {
    width: 100%;
    height: 100vh;
    background-color: #f2e5d0;
    /* background-color: #f8f3ed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-cont {
    background-color: #f9f3ee;
    width: 88%;
    height: 50%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 5px 5px 10px #ccc;
    /* z-index: 20; */
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
}

.under-shelf {
    background-color: #f8f3ed;
    width: 88%;
    height: 30%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: 5px 5px 10px #ccc;
    display: flex;
    
}

.primary-text {
    font-family: 'Libre Caslon Text', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif; 
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Uchen', serif;
    font-size: 40px;
    width: 100%;
    margin-left: 4rem;
    margin-top: 3rem;    
    line-height: 1;
    color: #2c1810;
}

.secondary-text {
    width: 80%;
    color:#91857f;
    margin-left: 4rem;
    margin-top: 1.5rem;
    line-height: 1.5;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif; 
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Uchen', serif;
}

.search-bar {
    width: 100%;
    margin-left: 4rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.inputRounded .MuiOutlinedInput-root {
    width: 100%;
    border-radius: 20px;
    /* color: white; */
}

body {
    background-color: #434752;
    background-image: linear-gradient(left, rgb(67, 71, 82), rgb(42, 45, 53), rgb(42, 45, 53))
}
  

.shelf {
    width: 100%;
    height: 9%;
    /* margin: 50px auto; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    /* background-color: white; */
    
    /* position: absolute;
    z-index: 30;
    top: 70%; */
}
  

.top {

    /* position: absolute;
    z-index: 30;
    top: 60%; */

    width: 92%;
    height: 120%;
    margin-top: 0;
    background: 7px 0  url(http://us.123rf.com/400wm/400/400/mettus/mettus1002/mettus100200138/6476266-motif-de-la-planche-de-bois-obsolete.jpg);
    background-size: 88%;
    position: absolute;
    top: 0;
    left: 50px;
    transform: perspective(700px) rotateX(65deg);
    /* box-shadow: inset 0 40px 130px -20px #fdf2e1; */
    box-shadow: inset 0 40px 130px -20px #f4eee3;
}
  

.front {

    
    /* position: absolute;
    z-index: 30;
    top: 60%; */

    width: 96%;
    height: 15%;
    /* background:  url(http://us.123rf.com/400wm/400/400/mettus/mettus1002/mettus100200138/6476266-motif-de-la-planche-de-bois-obsolete.jpg); */
    position: absolute;
    bottom: 0;
    box-shadow: inset 0 1px 1px 0 #f3efea, inset 0 -2px 20px -2px #faf7f4;   
}
  
  
.shadow {
    
    /* position: absolute;
    z-index: 30;
    top: 60%; */

    width: 96%;
    height: 15%;
    position: absolute;
    bottom: 0;
    left: 5px;
    color: transparent;
    box-shadow: 0 10px 20px -2px #928a80;
    margin-left: 1.3rem;
}
 
  
.col-1 {
    width: 30%;
    height: 92%;
    /* border: 2px solid black; */
    background-color: #f8f3ed;
    border-bottom: 1px solid #ffefdb;
}

.col-2 {
    /* margin-top: 22rem; */
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-end;
    /* border: 2px solid black; */
    background-color: #f8f3ed;
    border-bottom: 1px solid #ffefdb;
    position: relative;
}

.col-3 {
    background-color: #f8f3ed;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 92%;
    border-bottom: 1px solid #ffefdb;
    /* border: 2px solid black; */
}

.row-1 {
    height: 100%;
    display: flex;
    align-items: flex-end;
    /* border: 2px solid black; */
}

.stores {
    background-color: rgb(255, 250, 241);
    background-color: white;
    border-radius: 30px;
    width: 85%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 5px 5px 10px #ccc;
}

.stores-text {
    color:#91857f;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    text-align: left;
    font-family: 'Libre Caslon Text', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif; 
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Uchen', serif;
    line-height: 1.5;
    /* transform: rotate(270deg); */
}

.img-1 {
    display: flex;
    justify-content: space-evenly;
}

.img-2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.intro-book {
    margin-bottom: -1.4rem;
    position: absolute;
    z-index: 1;
    width: 50%;
    height: auto;
    /* box-shadow: 10px 0 5px -2px #; */
    filter: drop-shadow(10px 10px 10px #c2b5a3);
    
}

.logo {
    height: 4%;
    width: 90%;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.under-col {
    height: 100%;
    width: 33.3%;
    display: flex;
    /* border: 2px solid black */
}

.under-col-img {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black */
}

.under-col-text {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px solid black */
}

.text-wrapper {
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-book-info {
    color:#91857f;
    width: 90%;
    font-size: 30px;
    height: 30%;
    text-align: left;
    line-height: 1;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif; 
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Uchen', serif;
}

.intro-book-title {
    text-align: left;
    font-family: 'Libre Caslon Text', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif; 
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Uchen', serif;
    /* font-weight: 600;  */
    /* margin-bottom: 0.2rem; */
    width: 100%;
    height: 20%;
    margin-bottom: 10%;
    /* border: 2px solid black; */
    line-height: 1;
    /* color: #bd7843; */
}

