.ul-1 {
    /* width: 100vw;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 2rem;
    margin-bottom: 3rem;
}

.ul-2 {
    padding: 10px;
    /* width: 20%; */
    width: 190px;
    max-width: 200px;
    max-height: 420px;
}

/* .ul-2:hover {
    background-color: yellow;
  } */

.card {
    /* padding: 1rem;
    width: 100%;
    height: 100%;
    align-items: center; 
    background-color: white;*/
    box-shadow: 5px 5px 10px #ccc; 

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 2em 2em;
    background-color: #f7f7f7;
    border-radius: 10px;
    /* box-shadow: 0 1rem 2rem rgba(0,0,0,0.2); */
}

/* .card:hover {
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    /* bg-gray-900/40 hover:smooth-hover hover:scale-105 transition */
/* }  */

.card > img{
    /* width: 100%;
    height: 50%; */
    width: 70%;
    height: 47%;
    margin: 1em 1em;
}

.card h3 {
    /* margin: 0;
    padding: 5px; */
    /* font-weight: black; */
    font-size: 17px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    height: 13%;
}

.card h5 {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 0.5em;
    line-height: 1.3;
    font-size: 14px;
    margin-left: 5px; 
    margin-right: 5px;
    height: 14%;
    text-align: center;
}

.card h4 {
    /* text-overflow: ellipsis;
    overflow: hidden; */
    margin-top: 0.7em;
    line-height: 1.3;
    font-size: 16px;
}

.title {
    text-align: left;
    margin-bottom: 0.2rem;
    width: 88%;
    height: 10%;
    /* border: 2px solid black; */
    line-height: 1.2;
    margin-bottom: 0.7rem;
}

.info {
    color:#91857f;
    width: 88%;
    font-size: 13px;
    height: 10%;
    /* border: 2px solid black; */
    text-align: left;
    /* margin-left: 3rem; */
    /* margin-right: 2rem; */
    line-height: 1.2;
    font-size: 12px;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
}

.price-store {
    width: 88%;
    display: flex;
    justify-content: space-between;
    height: 10%;
    /* border: 2px solid black; */
    
}

.link-btn {
    width: 100%;
    height: 10%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.book-image {
    margin: 1em 1em;
    width: 70%;
    height: 60%;
}